/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* .share-spot-search input {
    background-color: rgb(64 64 64);
} */


.share-spot-search input:focus {
    outline: 0;
}


a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

